WhiteboardPolicyService/Whiteboard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
		Copyright (c) 2008 SOPERA GmbH All rights reserved. This program and
		the accompanying materials are made available under the terms of the
		Eclipse Public License v1.0 which accompanies this distribution, and
		is available at http://www.eclipse.org/legal/epl-v10.html
	-->
<definitions
  targetNamespace="http://services.sopware.org/demo/Whiteboard"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:isdx="http://services.sopware.org/demo/Whiteboard"
  xmlns:jms="http://schemas.xmlsoap.org/wsdl/jms/"
  xmlns:pri="http://services.sopware.org/demo/Whiteboard/types"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://services.sopware.org/demo/Whiteboard"
  xmlns:tns0="http://services.sopware.org/demo/Whiteboard"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema targetNamespace="http://services.sopware.org/demo/Whiteboard">
      <xsd:element name="write">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="tns:AnyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="writeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AnyType">
        <xsd:sequence>
          <xsd:any/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readResponse" type="tns:AnyType"/>
      <xsd:element name="read_fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="read_fault" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ElementNotFoundFault" type="xsd:string"/>
      <xsd:element name="echo" type="tns:AnyType"/>
      <xsd:element name="echoResponse" type="tns:AnyType"/>
    </xsd:schema>
  </types>
  <wsdl:message name="writeRequest">
    <wsdl:part element="tns:write" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="writeResponse">
    <wsdl:part element="tns:writeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part element="tns:read" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part element="tns:readResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="read_faultMsg">
    <wsdl:part element="tns:ElementNotFoundFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters"/>
  </wsdl:message>
  <portType name="Whiteboard">
    <wsdl:operation name="write">
      <wsdl:input message="tns0:writeRequest"/>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input message="tns0:readRequest"/>
      <wsdl:output message="tns0:readResponse"/>
      <wsdl:fault message="tns0:read_faultMsg" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns0:echoRequest"/>
      <wsdl:output message="tns0:echoResponse"/>
    </wsdl:operation>
  </portType>
  <wsdl:service name="WhiteboardProvider">
    <wsdl:port binding="tns0:localhostBinding" name="localhost">
      <soap:address location="http://localhost:9088/soap/WhiteboardProvider/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:binding name="localhostBinding" type="isdx:Whiteboard">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="write">
      <soap:operation soapAction="http://services.sopware.org/demo/Whiteboard/WhiteboardProvider/write"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://services.sopware.org/demo/Whiteboard/WhiteboardProvider/read"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="http://services.sopware.org/demo/Whiteboard/WhiteboardProvider/echo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</definitions>
